.nameBanner {
  display: flex;
  margin-bottom: 50px;
  background-color: #f9f9f9;
  padding-left: 21%;
  width: 100%;
}

.nameBanner img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  padding: 1% 0px;
}

@media only screen and (max-width: 700px) {
  .nameBanner {
    flex-direction: column;
  }

  .nameBanner img {
    padding-top: 2%;
  }
}