.nameBanner {
  display: flex;
  margin-bottom: 3%;
  background-color: #f9f9f9;
  padding-left: 21%;
}

.nameBanner img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  padding: 1% 0px;
}

@media (max-width: 700px) {
  .nameBanner {
    flex-direction: column;
    margin-bottom: 7%;
  }

  .nameBanner img {
    padding-top: 2%;
  }
}

@media (max-width: 400px) {
  .nameBanner {
    padding-left: 18.75%;
  }
}