.nameBanner {
  display: flex;
  margin-bottom: 3%;
  background-color: #f9f9f9;
  padding-left: 21%;
}

.nameBanner img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  padding: 5px 0px !important;
}

@media (max-width: 700px) {
  .nameBanner {
    flex-direction: column;
    margin-bottom: 7%;
  }

  .nameBanner img {
    padding-top: 12px !important;
  }
}

@media (max-width: 431px) {
  .nameBanner img {
    width: 58vw;
    height: 58vw;
  }
}