.projectsPage {
  background-color: #d6d6d6;
  display: block;
  overflow: auto;
  padding-bottom: 30px;
}

.projectsPage h1 {
  margin-left: 21%;
  padding-top: 50px;
  padding-bottom: 20px;
}

@media (max-width: 960px) {
  .projectsPage h1 {
    margin-left: 10%;
  }
}