.contact {
  padding-bottom: 20px;
  margin-bottom: 6%;
}

.contact h2 {
  padding: 20px 20px 0px 20px;
}

.contact li {
  list-style-type: none;
  margin: 10px 0;
}

@media (max-width: 700px) {
  .contact {
    margin-bottom: 9%;
  }
}