.navBar {
  display: flex;
  align-items: center;
  padding-left: 410px;
  width: 100%;
  background-color: #333333;
}

.navBarLink {
  display: flex;
  align-items: center;
  font-size: 1.4em;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 8px 12px;
}

.selected {
  background-color: #ededed;
  color: #333333 !important;
  font-weight: bold;
  cursor: default;
}

.navBarLink:hover {
  color: #6dc0ff;
}