.navBar {
  display: flex;
  align-items: center;
  padding-left: 20%;
  width: 100%;
  background-color: #333333;
}

/* .nav a {
  text-decoration: none;
  color: white;
} */

.navBar a {
  display: flex;
  align-items: center;
  font-size: 1.4em;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 8px 12px;
}

.navBarLinkUnselected:hover {
  color: #6dc0ff;
}
/* When a link is hovered over, change the color of the text (to blue?)
 * When the site is on that URL, make that pages link bold (or underlined) */