.leftColumn {
  display: flex;
  flex-direction: column;
  float: left;
  margin-left: 21%;
  width: 37%;
}

.leftColumn div {
  background-color: #f9f9f9;
}

@media (max-width: 1500px) {
  .leftColumn {
    margin-left: 10%;
    width: 50%;
  }
}

@media (max-width: 900px) {
  .leftColumn {
    margin-left: 6%;
    width: 88%
  }
}